body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

section#services {
    padding: 20px;
    flex-grow: 1;
}

.service {
    background-color:rgb(164, 203, 203);
    margin: 20px 0;
    padding: 20px;
    border-radius: 5px;
}

.service h2 {
    margin-top: 0;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
