body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 30px;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 10px;
}

section#mission {
    background-color: #e0c4ad;
    border-radius: 5px;
}

.team-member {
    margin: 20px 0;
    text-align: center;
}

.team-member img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.team-member h3 {
    margin: 10px 0 5px;
}

.team-member p {
    margin: 5px 0;
}

footer {
    background-color: #333;
    color: #fff;
    text-align:center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
}
